.add-tracks-to-playlist {
  margin: 0 20px;

  .add-tracks-options {
    li {
      display: inline-block;
      padding: 0 25px;
      line-height: 36px;
      background-color: $color3;
      color: $color8;
      cursor: pointer;
      position: relative;
      border: 1px solid $color5;
      border-bottom: 0;
      margin-right: 20px;
      -webkit-transition: border-color 0.3s ease;
      -moz-transition: border-color 0.3s ease;
      -ms-transition: border-color 0.3s ease;
      -o-transition: border-color 0.3s ease;
      transition: border-color 0.3s ease;

      &:last-child {
        margin-right: 0;
      }

      &.is_active {
        background-color: $color1;
        border-top: 1px solid $color5;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        z-index: 3;
      }
    }
  }

  .add-track-option {
    display: none;
    padding-top: 20px;
    position: relative;
    background-color: $color1;
    border: 1px solid $color5;
    border-top: 0;

    &:before {
      position: absolute;
      left: 0;
      top: -1px;
      background-color: $color5;
      content: '';
      width: 100%;
      height: 1px;
      z-index: 2;
    }

    &.is_active {
      display: block;
    }

    .radio-buttons {
      .row {
        margin-bottom: 0;
        margin-top: 14px;
      }
    }

    .loader-box {
      margin-top: 24px;
      width: 40px;
      display: none;

      &.is--loading {
        display: inline-block;
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .generate-btn {
      float: right;
      margin-right: 11px;

      &.is--loading {
        &.btn-with-loader {
          svg {
          display: inline-block
          }
        }
      }

      &.btn-with-loader {
        svg {
          display: none;
          width: 20px;
          height: 20px;
          margin-left: 10px;
          vertical-align: middle;
          margin-top: -4px;

          circle {
            stroke: $lighten-6;
          }

        }
      }
    }
  }

  .search-result-content {
    margin: 20px 0;
    height: 550px;
    overflow-x: hidden;

    .nano-content {
      right: 0;
    }

    .search-loader {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.generated-result {
      height: 514px;
    }

    .search-result-list {
      display: table;
      width: 100%;

      .search-result-text {
        padding: 0 10px;
        color: $lighten-1;
        font-size: 20px;
      }

      .track {
        display: table-row;
        -webkit-transition: background-color 0.3s ease, opacity 0.3s ease;
        -moz-transition: background-color 0.3s ease, opacity 0.3s ease;
        -ms-transition: background-color 0.3s ease, opacity 0.3s ease;
        -o-transition: background-color 0.3s ease, opacity 0.3s ease;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        width: 100%;

        &.animated {
          animation: opacity-animate 0.5s normal forwards ease-in-out;
        }

        @-webkit-keyframes opacity-animate {
          0%   { opacity: 1; }
          50%   { opacity: 0.5; }
          100% { opacity: 1; }
        }
        @-moz-keyframes opacity-animate {
          0%   { opacity: 1; }
          50%   { opacity: 0.5; }
          100% { opacity: 1; }
        }
        @-o-keyframes opacity-animate {
          0%   { opacity: 1; }
          50%   { opacity: 0.5; }
          100% { opacity: 1; }
        }
        @keyframes opacity-animate {
          0%   { opacity: 1; }
          50%   { opacity: 0.5; }
          100% { opacity: 1; }
        }

        &:hover {
          background-color: $secondary-color;
          span {
            color: $lighten-6;
          }
        }
        &.track-exist {
          background-color: $theme-color20;
          span {
            color: $lighten-6;
          }
        }

        span {
          display: table-cell;
          vertical-align: middle;
          padding: 5px 10px;
          border-bottom: 1px solid $darken-2;
          color: $lighten-1;

          &.play-button {
            width: 60px;
            min-width: 60px;
          }

          &.artist-name {
            width: 30%;
            min-width: 30%;
          }

          &.track-name {
            width: 60%;
            min-width: 60%;
          }

          &.track-duration {
            width: 80px;
            min-width: 80px;
          }

          &.add-button {
            width: 60px;
            min-width: 60px;
          }

          &.play-button,
          &.add-button {
            text-align: center;
            font-size: 30px;
            cursor: pointer;
          }
          &.remove-button {
            text-align: center;
            font-size: 30px;
            cursor: pointer;
          }
        }
      }

      .playlist {
        display: block;

        .playlist-name-row {
          color: $theme-color17;
          -webkit-transition: background-color 0.3s ease;
          -moz-transition: background-color 0.3s ease;
          -ms-transition: background-color 0.3s ease;
          -o-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
          position: relative;
          padding: 10px;
          cursor: pointer;
          background-color: $color6;
          border-bottom: 1px solid $theme-color17;

          &:hover {
            background-color: $color3;
          }

          .playlist-name {
            font-size: 16px;
            padding-right: 50px;
            display: block;
          }

          .playlist-arrow {
            position: absolute;
            top: 50%;
            right: 5px;
            width: 50px;
            font-size: 30px;
            text-align: center;
            line-height: 50px;
            height: 50px;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
        }

        .playlist-tracks-row {

          .playlist-tracks {
            display: table;
            width: 100%;
          }
        }
      }
    }
  }

  .input-field {
    .multiple-select-dropdown {
      li {
        position: relative;

        > span {
          margin-left: 25px;
        }

        [type="checkbox"] {
          +label {
            top: 50%;
            left: 10px;
            height: auto;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

@media screen  and (max-width: $tabletWidth){
  .add-tracks-to-playlist {
    .add-tracks-options {
      white-space: nowrap;
      overflow: auto;

      li {
        padding: 0 15px;
        margin-right: 10px;
      }
    }

    .row {
      .col {
        &.m3 {
          width: 33.33%;
        }

        &.s4 {
          width: 50%;
        }

        &.s8 {
          width: 50%;
          .row {
            margin: 14px 0 0 0;

            .s3 {
              width: 100%;
              padding: 0;
            }
          }
        }
      }
    }
  }
}


@media screen  and (max-width: $tabletWidthSmall){
  .add-tracks-to-playlist {
    .row {
      .col {
        &.m3 {
          width: 100%;
        }

        &.s4 {
          width: 100%;
        }

        &.s8 {
          width: 100%;
        }
      }
    }


    .search-result-content {
      .search-result-list {
        .track {
          span {
            &.play-button {
              width: 40px;
              min-width: 40px;
              padding-left: 0;
              padding-right: 0;
            }
            &.artist-name {
              width: 70%;
              min-width: 40%;
              position: absolute;
              display: block;
              padding: 0;
              border: none;
              padding-left: 10px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 14vw;
            }
            &.track-name {
              width: 100%;
              min-width: 60%;
              padding-top: 23px;
              padding-bottom: 10px;
            }

            &.track-duration {
              width: 50px;
              min-width: 50px;
            }
          }
        }
      }
    }
  }
}
