$spec-1: #4481b9;
$spec-2: #4caf50;
$spec-3: #f44336;
$spec-4: #CE181E;


$lighten-6: #ffffff;
$lighten-5: #fafafa;
$lighten-4: #f5f5f5;
$lighten-3: #e3eaf3;
$lighten-2: #b3c4d8;
$lighten-1: #7d93ab;
$base: #6a819a;
$darken-1: #455a71;
$darken-2: #34465A;
$darken-3: #2D3E4D;
$darken-4: #273746;
$darken-5: #1a2631;
$darken-6: #111a22;


$primary-color: #008BDC;
$secondary-color: #4898d0;


$color1: #ffffff;
$color2: #222222;
$color3: #e6e6e6;
$color4: #777777;
$color5: #c8c8c8;
$color6: #f4f4f4;
$color7: #444444;
$color8: #000000;


/*
Color variable
=============================================
The variable provides you a compatible method to set colors.
*/


/*
  theme colors
*/

$theme-color1: #212121;
$theme-color2: #424242;
$theme-color3: #606060;
$theme-color4: #dfdfdf;
$theme-color5: #cccccc;
$theme-color6: #121212;
$theme-color7: #2b2b2b;
$theme-color8: #5a5a5a;
$theme-color9: #1d1d1d;
$theme-color10: #b4c0c6;
$theme-color11: #4d4d4d;
$theme-color12: #363636;
$theme-color13: #FFFFFF;
$theme-color14: #edf8ff;
$theme-color15: #c8c8c8;
$theme-color16: #575757;
$theme-color17: #777777;
$theme-color18: #6a6a6a;
$theme-color19: #000000;
$theme-color20: #0f9d58;
$theme-color21: #e57373;


/*
  border colors
*/

$border-color1: #606060;
$border-color2: #dfdfdf;
$border-color3: #121212;
$border-color4: #5a5a5a;
$border-color5: #000000;
$border-color6: #4d4d4d;
$border-color7: #225b7d;
$border-color8: #299ee2;
$border-color9: #303030;
$border-color10: #969696;
$border-color11: #7e7e7e;
$border-color12: #ffffff;
$border-color13: #5a6870;
$border-color14: #212121;
$border-color15: #79abc0;
$border-color16: #6f7c84;
$border-color17: #036ba8;

$border-spec-color1: #248d16;
$border-spec-color2: #d11415;
$border-spec-color3: #ca8739;


/*
  Text colors
*/

$text-color1: #dfdfdf;
$text-color2: #ffffff;
$text-color3: #858585;
$text-color4: #212121;
$text-color5: #C9EAF7;
$text-color6: #a0a0a0;
$text-color7: #c1c1c1;
$text-color8: #ff0000;
$text-color9: #606060;
$text-color10: #4d4d4d;
$text-color11: #000000;
$text-color12: #249ae0;
$text-color13: #949494;

$text-spec-color1: #4076fd;
$text-spec-color2: #62c578;
$text-spec-color3: #0e72d8;
$text-spec-color4: #008BDC;

$special-color: rgba(0,139,220,1);  // #008BDC
$special-color-transparent: rgba(0,139,220,0);
$special-color-hover: #0d7bbb;

$input-elements-color: #777777;
$input-elements-text-color: #c1c1c1;
$input-elements-focus-color: #dfdfdf;
$input-elements-focus-text-color: #212121;


$viva-banner-color: #ee1c24;